@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&family=Poltawski+Nowy:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&family=Poltawski+Nowy:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poltawski+Nowy:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Poltawski+Nowy:ital,wght@1,600&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.logoPage {
    background-image: url("./image/photo-1585202900225-6d3ac20a6962.avif");
    background-size: 600px 700px;
    background-repeat: no-repeat;
    width: 35%;
    height: 700px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    margin-top: 100px;
    height: 200px;
}

/* .names{
    display: flex;
    
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#doThis {
    font-family: 'Poltawski Nowy', serif;
    font-size: 40px;
    margin: 20px;

}

.getStarted {
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.titleOFInputs {
    font-family: 'Poltawski Nowy', serif;
    margin-left: 30px;
}

button {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

#alreadyHave {
    font-family: 'Poltawski Nowy', serif;
    margin-top: 10px;
    margin-left: 20px;
}

#logIN {
    font-family: 'Poltawski Nowy', serif;
    margin-left: 20px;
}

input {
    margin-bottom: 10px;
    margin-left: 10px;
}